# Godot 4+ specific ignores
.godot/
/android/
addons/godot-git-plugin/win64/~libgit_plugin.windows.editor.x86_64.dll
*.tmp
.vs/chess/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
project.godot
project.godot
project.godot
.vs/*
export_presets.cfg
