# Godot 4+ specific ignores
.godot/
/android/
addons/godot-git-plugin/win64/~libgit_plugin.windows.editor.x86_64.dll
*.tmp
.vs/chess/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
project.godot
project.godot
project.godot
.vs/chess/FileContentIndex/8b11ae81-f0e1-4a55-b377-5e506930b69d.vsidx
.vs/chess/FileContentIndex/8601b583-15ef-4c02-bb3d-d3b8292ec3a0.vsidx
.vs/chess/FileContentIndex/cbd3979b-df19-4d6b-9a1e-bc31514d40a5.vsidx
.vs/chess/FileContentIndex/19d5ab4e-87ac-4503-9bc6-0a772afd59d6.vsidx
.vs/chess/FileContentIndex/401baf8c-50f8-4f90-9074-6bc88ab5fcfa.vsidx
.vs/chess/FileContentIndex/5defa7e4-a050-46a8-b797-ec550ee53c83.vsidx
.vs/chess/FileContentIndex/fce3fbfb-32e3-4c73-b8e9-70219f07e62c.vsidx
/.vs/chess/FileContentIndex
.vs/chess/v17/.wsuo
.vs/chess/v17/.suo
.vs/chess/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
.vs/chess/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
.vs/chess/CopilotIndices/17.12.53.23981/SemanticSymbols.db
.vs/chess/CopilotIndices/17.12.53.23981/CodeChunks.db-wal
.vs/chess/CopilotIndices/17.12.53.23981/CodeChunks.db-shm
.vs/chess/CopilotIndices/17.12.53.23981/CodeChunks.db
*.tmp
